*{
	box-sizing: border-box;
}

/*body{
	background-color: #000000;
}*/

.item1 { grid-area: header; }
.item2 { grid-area: main;}
.item3 { grid-area: navbar;}
.item4 { grid-area: footer; }

.grid-container1 {
  display: grid;
  grid-template-areas: 
  'header  header header header'
  'main main main navbar'
  'main main main navbar'
  'main main main navbar'
  'main main main navbar'
  'footer footer footer footer';
  /*background-color: #2196F3;*/
  border-radius: 15px;
  justify-content: space-around;
  padding: 10px;
  
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 18px;
  background-color: #4dffc3;
  padding: 10px;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  
}

.image-siz{
	width: 200px;
	height: 200px;
	border: 2px solid red;
	border-radius: 10px;
    margin: auto;
}

.image-siz1{
  	width: 4%;
  	height:4%;
  	vertical-align: middle;
  	margin-left: 10px;
}

.image-siz2{
	width: 100%;
	height: 200px;
	border: 2px solid red;
	border-radius: 15px;

}

.flex-container1 {
	display: flex;
    flex-direction: column;
    /*border: 2px solid red;*/
	border-radius: 15px;
	background-color:   #b3ff1a;
	padding: 15px;
	font-size: 20px;
	box-sizing: border-box;
	/*margin-left: 25px;*/
   
}

nav  {
	padding: 5px 10px;

}

nav  a {
	border-radius: 15px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	padding:10px;  
	background: #66ccff;
	
}
nav  a:visited {
  background-color: #9933ff;
  color: white;
} 

nav  a:hover {
  border: 2px solid black;
  background-color: #ccffff;
  color: black;
} 

nav  a:active {
  background-color: #0033cc;
  color: red;
} 

footer {
	width: 100%;
	border:2px solid red;
	border-radius: 15px;
	color: white;
	background-color: #005ce6;
	padding-bottom: 15px;
	padding-top: 0px;
	text-align: center;
	box-sizing: border-box;
	margin-top: 5px;
} 
.h1{
	position: relative;
	width: 250px;
	height: 150px;
	color: white;
	background-color:red;
	font-size: 50px;
	font-style: italic;
	border-radius: 30px;
	padding: 15px;
	animation-name: animation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


} 

@keyframes animation {
	 0%  { background: red; }
     25% { background: yellow;color: blue;}
     50% { background: red; color: white; }
     75% { background: yellow;color: blue;}
     100% { background: red; }

}

.p1{
	padding:  5px 5PX;
	margin: 0px;
	color: red;
	font-size: 50px;
	background-color: #3399ff;
	border-radius: 15px;
}

.a{
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	padding:5px;  
	background: white;
	margin: auto; 

}

@media screen and (max-width: 600px) {
 .grid-container1 {
  grid-template-areas: 
  'header  header header header'
  'main main main main'
  'main main main main'
  'main main main main'
  'navbar navbar navbar navbar'
  'footer footer footer footer';
}
  .grid-container2 {
   display: grid;
   grid-template-columns: auto auto ;
}  
 footer {
	width: 100%;
	margin: auto;
  }
}
